global
    log stdout format raw local0

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 5s
    timeout client 1h
    timeout server 1h

resolvers docker
    nameserver dns 127.0.0.11:53
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

frontend web
    bind :8000
    default_backend web_backend

backend web_backend
    server web web:8000 check resolvers docker init-addr libc,none

frontend forms_public
    bind :8100
    default_backend forms_public_backend

backend forms_public_backend
    server forms_public forms-public:8100 check resolvers docker init-addr libc,none

frontend mailpit
    bind :8025
    default_backend mailpit_backend

backend mailpit_backend
    server mailpit mailpit:8025 check resolvers docker init-addr libc,none

frontend postgres
    bind :5432
    default_backend postgres_backend

backend postgres_backend
    server postgres postgres:5432 check resolvers docker init-addr libc,none

frontend firebird
    bind :3050
    acl firebird_allowed src 127.0.0.0/8 192.168.0.0/24
    tcp-request connection reject if !firebird_allowed
    default_backend firebird_backend

backend firebird_backend
    server firebird firebird:3050 check resolvers docker init-addr libc,none
