# Wzorzec środowiska produkcyjnego/deploymentu.
# Nie używaj lokalnie. Do pracy developerskiej i testów lokalnych używaj wyłącznie .env.test
# utworzonego na podstawie .env.test.example.
# Aktualizacje produkcyjne wykonuj przez commit z GitHub i jawne wdrożenie po stronie serwera.

PGHOST=192.168.0.8
PGPORT=5433
PGDATABASE=ctip
PGUSER=appuser
PGPASSWORD=change_me
PGSSLMODE=disable

FB_HOST=192.168.0.8
FB_PORT=3050
FB_MODE=network
FB_DATABASE=D:/BAZA_MS_KP/BAZAMS.FDB
FB_USER=SYSDBA
FB_PASSWORD=masterkey
FB_CHARSET=WIN1250
FB_ROLE=
FB_LOCAL_COPY_PATH=inbox/firebird/menadzer_serwisu.fdb

FB_V_HOST=192.168.0.8
FB_V_PORT=3050
FB_V_DATABASE=D:/bazavmantenance/BAZA_CPC.FDB
FB_V_USER=SYSDBA
FB_V_PASSWORD=masterkey
FB_V_CHARSET=WIN1250
FB_V_ROLE=

PBX_HOST=192.168.0.11
PBX_PORT=5524
PBX_PIN=1234

SMS_DEFAULT_SENDER=KseroPartner
SMS_TYPE=eco+
SMS_API_URL=https://api2.serwersms.pl
SMS_API_TOKEN=
SMS_API_USERNAME=
SMS_API_PASSWORD=
SMS_TEST_MODE=false

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_SENDER_NAME=
EMAIL_SENDER_ADDRESS=
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
BLOCK_CLIENT_COMMUNICATIONS=false

# Skrzynka automatyzacji umow:
# - test/lokalnie: umowy-test@ksero-partner.com.pl
# - produkcja (wdrozenie): umowy@ksero-partner.com.pl
MAILBOX_EMAIL_ADDRESS=
MAILBOX_EMAIL_PASSWORD=
MAILBOX_IMAP_HOST=
MAILBOX_IMAP_PORT=993
MAILBOX_SMTP_HOST=
MAILBOX_SMTP_PORT=465
MAILBOX_SMTP_USE_SSL=true
MAILBOX_SMTP_USE_STARTTLS=false
CONTRACTS_MAILBOX_SCHEDULER_ENABLED=true
CONTRACTS_MAILBOX_SYNC_INTERVAL_SECONDS=300
CONTRACTS_MAILBOX_SYNC_LIMIT=60
CONTRACTS_MAILBOX_SYNC_FOLDER=INBOX
CONTRACTS_MAILBOX_SYNC_TIMEOUT_SECONDS=300
CONTRACTS_MAILBOX_SYNC_REPROCESS=false
CONTRACTS_MAILBOX_ARCHIVE_ROOT=

ADMIN_PANEL_URL=http://panel.lan:8000/admin
FORM_PUBLIC_BASE_URL=https://form.twoja-domena.pl
GRENKE_APP_BASE_URL=https://newonline.leasingoptymalny.pl
GRENKE_API_BASE_URL=https://newonline.leasingoptymalny.pl/API
GRENKE_TIMEOUT_SECONDS=12
ADMIN_SESSION_TTL_MINUTES=60
ADMIN_SESSION_REMEMBER_HOURS=72
