global
    log stdout format raw local0

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 10s
    timeout client 1m
    timeout server 1m

resolvers docker
    nameserver dns 127.0.0.11:53
    timeout resolve 2s
    timeout retry 1s
    hold valid 30s

frontend google_https
    bind :443
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    acl google_oauth req.ssl_sni -i oauth2.googleapis.com
    acl google_sheets req.ssl_sni -i sheets.googleapis.com
    acl google_api req.ssl_sni -i www.googleapis.com
    use_backend google_oauth_backend if google_oauth
    use_backend google_sheets_backend if google_sheets
    use_backend google_api_backend if google_api
    default_backend denied_backend

backend google_oauth_backend
    server google_oauth oauth2.googleapis.com:443 check resolvers docker resolve-prefer ipv4 init-addr libc,none

backend google_sheets_backend
    server google_sheets sheets.googleapis.com:443 check resolvers docker resolve-prefer ipv4 init-addr libc,none

backend google_api_backend
    server google_api www.googleapis.com:443 check resolvers docker resolve-prefer ipv4 init-addr libc,none

backend denied_backend
    server denied 127.0.0.1:1
